[Unit]
Description=gunicorn daemon

[Service]
User=root
Group=www-data
WorkingDirectory=/opt/porocab
ExecStart=/opt/porocab/.venv/bin/celery -A poro worker --pool=gevent -l info

[Install]
WantedBy=multi-user.target