[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
User=root
Group=www-data
WorkingDirectory=/opt/porocab
EnvironmentFile=/opt/porocab/.env
ExecStart=/opt/porocab/.venv/bin/daphne -u /run/gunicorn.sock poro.asgi:application

[Install]
WantedBy=multi-user.target