{% load i18n %}

<style>
    h1{
        text-align: center;
        text-transform: uppercase;
    }

    .container{
        margin: auto;
    }

    .timeline{
        counter-reset: test 20;
        position: relative;
    }

    .timeline li{
        list-style: none;
        float: left;
        position: relative;
        text-align: center;
        text-transform: uppercase;
    }

    ul:nth-child(1){
        color: var(--border-color);
    }

    .timeline li:before{
        counter-increment: test;
        content: var(--count);
        width: 50px;
        height: 50px;
        border: 3px solid var(--border-color);
        border-radius: 50%;
        display: block;
        text-align: center;
        line-height: 50px;
        margin: 0 auto 10px auto;
        background: #fff;
        color: #000;
        transition: all ease-in-out .3s;
        cursor: pointer;
    }

    .timeline li:after{
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        background-color: grey;
        top: 25px;
        left: -50%;
        z-index: -999;
        transition: all ease-in-out .3s;
    }

    .timeline li:first-child:after{
        content: none;
    }

    .timeline li.approved-tl{
        color: #555555;
    }
    .timeline li.approved-tl:before{
        background: #4caf50;
        color: #F1F1F1;
    }
    .timeline li.approved-tl + li:after{
        background: #4caf50;
    }

    .timeline li.rejected-tl{
        color: orange;
    }
    .timeline li.rejected-tl:before{
        color: orange;
    }
    .timeline li.rejected-tl + li:after{
        background: orange;
    }
</style>


<div class="col">
    <h4>{% trans 'Approbation' %}</h4>
    <ul class="timeline">
        {% for approvals in self.approbations %}
            <li 
                class="me-5 mb-4 {{ approvals.action.lower }}-tl" 
                style="
                {% if approvals.action.lower == 'approved' %}
                --border-color: green;
                {% elif approvals.action.lower == 'rejected' %}
                --border-color: orange;
                {% else %}
                --border-color: grey;
                {% endif %}
                --count: '{{ forloop.counter }}'">
                {{ approvals.user }}
            </li>
        {% endfor %}
    </ul>
</div>